<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OTPAnalyzer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59DCB62D23B26B8A00F36EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59DCB63F23B26B8C00F36EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59DCB64A23B26B8D00F36EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
